/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', serif;
  --main-font-weight: 400;
  --title-font-weight: 700;
  --page-background-image: repeating-linear-gradient(
    to right,
    var(--gradient-color) 2px,
    transparent 2px 4px,
    var(--gradient-color) 4px 6px,
    transparent 8px
  ),
  repeating-linear-gradient(
    to bottom,
    var(--gradient-color) 2px,
    transparent 2px 4px,
    var(--gradient-color) 4px 6px,
    transparent 8px
  ),
  linear-gradient(
    to bottom,
    var(--top-gradient-color),
    var(--bottom-gradient-color)
  );
  --sparks-color: #FF0000;
  --contour-color: #000000;
  --core-color: #ff0000;
  --heart-color: #ff0000;
}

:root.theme-dark {
  --bg-color: #000000;
  --main-color: #00CC14; 
  --gradient-color: #000000;
  --bottom-gradient-color: #004306;
  --top-gradient-color: #007f0c ;
  --button-bg-color: #00cc14;
}

:root.theme-light {
  --bg-color: #FFFFFF;
  --main-color: #000000;
  --gradient-color: #d3d3d3;
  --bottom-gradient-color: #1a1a1a;
  --top-gradient-color: #e7e7e7;
  --button-bg-color: #fff;
}