/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.*/

.page {
  display: grid;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page__header {
  display: grid;
  grid-template-rows: 136px auto auto 120px;
  place-content: center;
  width: 100%;
  width: clamp(375px, 100%, 700px);
  margin-inline: auto;
  margin-block-start: 102px;
  border-inline: 2px solid var(--main-color);
  box-shadow: 0 -2px 0px 0px  var(--main-color), 0 2px 0px 0px var(--main-color);
  color: var(--main-color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.page__header_title {
  grid-row: 2/3;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.page__header_subtitle {
  grid-row: 3/4;
  margin-block-start: 20px;
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.header__theme-menu {
  display: grid;
  grid-row: 4/5;
  justify-content: center;

  padding-block-start: 22px;
}

.theme-menu__list {
  display: grid;
  gap: 5px;
  padding-inline-start: 18px;
  block-size: 70px;
}

.theme-menu__button {
  position: relative;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:hover {
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 1px;
  left: -19px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out alternate-reverse infinite;
  block-size: 20px;
  inline-size: 20px;
}


.theme-menu__button::after {
  content: " ";
  bottom: 1px;
  display: block;
  width: 0%;
  margin-block-start: 2px;
  opacity: 0.6;
  background-color: var(--main-color);
  transition: width 0.3s ease;
  block-size: 2px;
}

.theme-menu__button:focus::after {
  width: 100%;
  outline: none;
}

.theme-menu__button:focus {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.page__main {
  display: grid;
  gap: 50px;
  width: clamp(375px, 100%, 696px);
  margin-inline: auto;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.page__main_post:first-child {
  margin-block-start: 102px;
}

.page__main_post {
  border-block: 2px solid var(--main-color);
  box-shadow: -2px 0 0 0 var(--main-color), 2px 0 0 0 var(--main-color);
  background-color: var(--bg-color);
}

.page__main_post_title {
  padding-inline: 10px;
  padding-block: 5px;
  font-family: var(--main-font);
  font-size: 18px;
}

.page__main_post_image_block {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  

}

.page__main_post_image {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  object-fit: contain;
}

.page__main_post_image_brightness {
  filter: brightness(120%);
}

.page__main_post_image_contrast {
  filter: contrast(120%);
}

.page__main_post_image_hue-rotate {
  filter: hue-rotate(336deg);
}

.page__main_post_image_contrast_brightness {
  filter: contrast(115%) brightness(110%);
}

.page__main_post_image_hue-rotate_contrast {
  filter: hue-rotate(34deg) contrast(120%);
}

.page__main_post_image_saturate {
  filter: saturate(160%);
}

.page__main_post_image_grayscale_blur {
  filter: grayscale(50%) blur(1px);
}

.page__main_post_image_brightness_contrast {
  filter: brightness(110%) contrast(130%);
}

.page__main_post_watermark {
  position: absolute;
  top: 26px;
  right: 25px;
  z-index: 2;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  letter-spacing: -1px;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--bg-color))) or
  (-webkit-text-stroke: 1px var(--bg-color)) {
  .page__main_post_watermark {
    text-shadow: none;
    -webkit-text-stroke: 0.1px var(--bg-color);
    text-stroke: 0.1px var(--bg-color);
  }
}

.page__main_post_text {
  display: grid;
  gap: 27px;
  padding-inline: 24px;
  padding-block: 25px;

}

.page__main_post_text_paragraph {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  line-height: 21px;
  letter-spacing: -0.02px;
}

.page__main_post_icon_button {
  display: grid;
  grid-template-columns: auto calc(25px + 130px);
  justify-content: end;
  gap: 5px;
  margin-block-end: 25px;
}

.card__icon-button {
  display: grid;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  inline-size: 38px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  letter-spacing: -1px;
}

#sparks {
  opacity: 0;
}

.like-icon {
  position: relative;
    top: 2px;
    left: -2px;
  width: 39px;
  height: 36px;
}

.like-icon {
  #core {
    fill: transparent;
    transition: fill 0.03s 0.3s linear;
  }

  #main-body {
    fill: transparent;
    transition: fill 0.3s linear;
  }
}

.like-icon:hover {
  #core {
    fill: var(
      --main-color
    );
    transition: fill 0.3s linear -0.03s;
  }

  #main-body {
    fill: var(--main-color);
    transition: fill 0.05s 0.3s linear;
  }
}

.like-icon:active {
  #core {
    fill: var(--heart-color);
    transition: fill 0.3s linear -0.03s;
  }

  #main-body {
    fill: var(--heart-color);
    transition: fill 0.05s 0.3s linear;
  }
}

#contour {
  fill: var(--main-color);
}

.like-icon.is-liked {
  #core {
    fill: var(--heart-color);
    transition: fill 0.3s linear -0.03s;
  }

  #main-body {
    fill: var(--heart-color);
    transition: fill 0.05s 0.3s linear;
  }

  #contour {
    fill: var(--heart-color);
    transition: fill 0.06s 0.3s linear;
  }
}

.like-icon.like-icon.is-liked #contour {
  fill: var(--heart-color);
  transition: fill 0.06s 0.3s linear;
}

.like-icon.is-liked #heart {
  animation: heart-like 0.1s 0.3s ease-in;
}

.like-icon.is-liked #sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--bg-color);
  block-size: 38px;
  inline-size: 130px;
}

.card__like-button:focus {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: var(--button-bg-color);
  transition: transform 0.5s ease-in-out;
  transform: scale(0, 1);
  transform-origin: left;
  block-size: 100%;
  inline-size: 100%;
  mix-blend-mode: difference;
}

.card__like-button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scale(1, 1);
  transform-origin: left;
  mix-blend-mode: difference;
}

.page__footer {
  margin-inline: auto;
  margin-block-start: 50px;
  margin-block-end: 102px;
}

.page__footer_button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color);
  padding: 15px 20px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
}

.page__footer_button:focus {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.page__footer_button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 101%;
  background-color: var(--button-bg-color);
  transition: transform 0.5s ease-in-out;
  transform: scale(0, 1);
  transform-origin: left;
  mix-blend-mode: difference;
}

.page__footer_button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scale(1, 1);
  transform-origin: left;
  mix-blend-mode: difference;
}

.page__footer_button_text {
  align-self: center;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 90%;
  letter-spacing: -1px;
}

.floppy {
  width: 21px;
  height: 21px;
}

.page__dialog {
  border: none;
  padding: 0;
}

.page__dialog_open {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid var(--main-color);
  padding: 30px;
  background-color: var(--bg-color);
}

.page__dialog::backdrop {
  opacity: 0.75;
  background-color: #000000;
}

.page__dialog_svg {
  grid-column: 1/2;
  grid-row: 1/2;
  fill: var(--main-color);
}

.dialog__svg {
  width: 39px;
  height: 39px;
}

.page__dialog_title {
  grid-column: 2/3;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.page__dialog_button {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/3;
  border: 2px solid var(--main-color);
  padding: 9px 17px;
  outline: none;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.page__dialog_button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 99%;
  background-color: var(--button-bg-color);
  transition: transform 0.5s ease-in-out;
  transform: scale(0, 1);
  transform-origin: left;
  mix-blend-mode: difference;
}

.page__dialog_button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scale(1, 1);
  transform-origin: left;
  mix-blend-mode: difference;
}

.page__dialog_button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  transition: box-shadow 0.3s ease;
}

@media (width <=375px) {
  .page__header {
    grid-template-rows: 120px auto auto 119px;
  }

  .page__header_subtitle {
    letter-spacing: -1px;
  }

  .header__theme-menu {
    padding-block-start: 21px;
  } 

  .theme-menu__list {
    padding-inline-start: 20px;
  }
 

  .page__main_post {
    border: 2px solid var(--main-color);
    box-shadow: none;
  }

  .page__main_post_watermark {
    top: 23px;
    right: 14px;
    white-space: nowrap;
  }

  .page__main_post_text:nth-of-type(1) {
    padding-block: 25px 46px;
  }

  .page__main_post:nth-child(5) .page__main_post_text {
    padding-block: 25px;
  }  

  .like-icon {
    top: 1px;
  }

  .page__footer {
    margin-inline: auto;
  }
  .page__footer_button {
    flex-direction: column;
    align-items: center;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}
