/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', serif;
  --main-font-weight: 400;
  --title-font-weight: 700;
  --page-background-image: 
  repeating-linear-gradient(90deg, var(--gradient-color) 0 2px, rgb(0 0 0 / 0) 2px 4px),
  repeating-linear-gradient(180deg, var(--gradient-color) 0 2px, rgb(0 0 0 / 0) 2px 4px),
  linear-gradient(180deg, var(--top-gradient-color) 0%, var(--bottom-gradient-color) 100%);
  --sparks-color: #FF0000;
  --contour-color: #000000;
  --core-color: #ff0000;
  --heart-color: #ff0000;
} 